<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Model canvas APP</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/media/css/bootstrap.css" rel="stylesheet" media="screen and (min-width:801px)">
    <link href="/media/css/bootstrap-mobi.css" rel="stylesheet" media="handheld, screen and (max-width:767px)">
    <link href="/media/css/bootstrap-tab.css" rel="stylesheet" media="screen and (min-width:768px) and (max-width:1280px)">
  </head>
  <body>
	<div class="container-special"> 
        <div class="content-special"> 
            <div class="title">
                <h2>MODEL CANVAS APP</h2>
                <script src="http://code.jquery.com/jquery-latest.js"></script>
                <script src="js/bootstrap.min.js"></script>
            </div>
                <div class="bt">
                  <a href="/novo_negocio/"><button class="btn btn-large btn-block btn-primary" type="button">Novo Negócio</button></a>
                  <a href ="/listar_negocio/"><button class="btn btn-large btn-block" type="button">Listar Negócios</button></a>
          </div>
      		 <div class="span4"><img src="/media/img/logo_firjan.png" width="284" height="58">
        </div>  
    </div>
</div>
  </body>
</html>